<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='logout.css') }}">
</head>
<body>

<div class="logout-box">

    <h1>Logout Successful</h1>

    <p>You have successfully logged out from the Admin Dashboard.</p>

    <a href="/adminlogin" class="btn">Login Again</a>

    <a href="/" class="home-btn">Go to Home</a>

</div>

</body>
</html>